/* your styles go here */
.sidebar {
	background: #212529;
}

.row {
	padding-top: 10px;
}


.form-horizontal {
	margin: 0px 50px;
}

.col-sm-3 {
	margin: Opx;
	padding: 7px 0px;
}

.nav-admin {
	padding: 9px 0px 2px 200px;
}

.logo {
	padding-left: 20px;
}

.nav-visit {
	padding: 0px;
	margin-left: 200px;
} 

.navigation-visit {
	padding: 0px;
	margin: 0px 0px 0px -50px;
} 

.menu {
	margin-right: -40px;
}

#header.header-scrolled {
	padding: 0px;
}

.logo-visit {
	padding: 0px 0px 5px 60px;
}

#site {
	margin: auto;
	width: 50%;	
}

.site-card {
	margin: 20% auto 0% auto;
}

.col-lg-9 {
	margin:0px auto;
}

.dashboard-data {
	margin: 1.5% -1% 0% -1%;
}

.btn-secondary {
	background-color: #897f7d;
	border-color: #212529;
}


.col-md-5 {
	padding: 0% 1% 0% 5%;
}
.add .remove {
	margin-top: 2%;
}

h4 {
	padding: 0.2rem 0.2rem 0rem 0rem;
}

.add-button {
	padding: 0.3rem 0.9rem;
	background-color: #897f7d;
	border-color: #212529;
}

.add-button:hover {
	background-color: #343a40;
	border-color: #343a40;
}

.display-data {
	margin: 0rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.go-to-form-site {
	padding: 0rem 1rem 0rem 5.5rem;
	position-left:1.3rem;
}

.go-to-form-title-site {
	padding-top:0.5rem;
	padding-right:1.3rem;
}

.go-to-form-topo {
	padding: 0rem 0rem 0rem 3.5rem;
	margin: 0rem;
}

.go-to-form-title-topo {
	margin-top:0.4rem;
	padding-right:0.4rem;
}

.description {
	text-align: justify;
}

.reservation{
	font-family:"Courier New", Courier, monospace, sans-serif, "Times New Roman", Times, serif;
}

#available {
	color: green;
}

#reserved {
	color: blue;
}

#unavailable {
	color: red;
}

#ignored {
	color: red;
}

li {
	font-size:medium;
}

.col-lg-3 {
	margin : 0px auto;
}

.city-1 {
	left:1%;
}

.city-2 {
	left:2%;
}

.city-3 {
	left:3%;
}

.city-4 {
	left:4%;
}

.table-responsive {
	margin-top : 5%;
}
