/* your styles go here */
.sidebar {
	background: #212529;
}

.row {
	padding-top: 10px;
}


.form-horizontal {
	margin: 0px 50px;
}

.col-sm-3 {
	margin: Opx;
	padding: 7px 0px;
}

.nav-admin {
	padding: 9px 0px 2px 200px;
}

.logo {
	padding-left: 20px;
}

.nav-visit {
	padding: 0px;
	margin-left: 200px;
} 

.navigation-visit {
	padding: 0px;
	margin: 0px 0px 0px -50px;
} 

.menu {
	margin-right: -40px;
}

#header.header-scrolled {
	padding: 0px;
}

.logo-visit {
	padding: 0px 0px 5px 60px;
}

#site {
	margin: auto;
	width: 50%;	
}

.site-card {
	margin: 50px auto;
}

.col-lg-9 {
	margin:0px auto;
}

.dashboard-data {
	margin: 20px -15px 0px -15px;
}

