<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments/componentsRessources.html :: headVisit"> 
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ajouter un Site</title>
<!-- 	script for second test -->
	<script type="text/javascript" th:src="@{/area.js}"></script>
<!-- 	multiInput query test -->
	<link th:href="@{/jq.multiinput.min.css}" rel="stylesheet">
	
	<style>

    .container-fluid { margin: 150px auto; }
    h1 { margin-bottom: 50px; }
  </style>
<!-- 	end test  -->
  </head>
  <body>
    <!-- navbar-->
    <header id="header2" class="fixed-top" th:insert="fragments/componentsAdmin.html :: headerVisitAdmin"></header>
    
    <div class="d-flex align-items-stretch">
	  <div id="sidebar" class="sidebar py-3" th:insert="fragments/componentsAdmin.html :: sidebar-connected"></div>
      <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-4">
          <section class="py-6 d-flex justify-content-center">
            <div class="row justify-content-center">
              
<!--               Form Elements -->
              <div class="col-lg-12 mb-5">
                <div class="card">
                  <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Les Secteurs</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-inline" action="#" th:action="@{/saveArea}" th:object="${area}" method="post">
                    
                      <div class="form-group row ${#fields.hasErrors('areaName')}? has-error" >
                        <label class="col-sm-3 col-form-label" for="areaName">Nom du Secteur</label>
                        <input type="text" th:field="*{areaName}" id="areaName" placeholder="Nom du Secteur" class="mr-3 form-control"/>
                        <span th:if="${#fields.hasErrors('areaName')}" th:errors="*{areaName}" th:errorclass="fieldError">Champ incorrect</span>
                      </div>       
					  
	                  <div class="form-group row ${#fields.hasErrors('area.routesNumber')}? has-error">
	                     <label class="col-sm-3 col-form-label" for="routesNumber">Nombre de Voies</label>
		                 <input type="number" th:field="*{routesNumber}" id="routesNumber" class="mr-3 form-control">
		                 <span th:if="${#fields.hasErrors('routesNumber')}" th:errors="*{routesNumber}" th:errorclass="fieldError"></span>
	                  </div>
                         
                              
                    <div class="line"></div>
                    
                      <div class="form-group row">
                        <div class="col-md-8  mx-auto d-block">
                          <a th:href="@{/user(userId = ${user.id})}"><button class="btn btn-secondary">Annuler</button></a>
                          <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                      </div>
                        
                    </form>
                  </div>
                </div>
              </div>
            </div>

	
          </section>
        </div>
        
        
        <!--             Jquery dynamic MultiInput form -->
			<div class="container">
			    <div class="row">
			        <div class="col-xs-12">
			            <h1>MultiInput Demo</h1>
			            <form>
			                <textarea class="form-control" id="participants" name="participants">
			                    [{"firstname":"","lastname":""}]
			                </textarea>
			            </form>
			        </div>
			    </div>
			</div>
	
	
        <footer class="footer align-self-end py-3 px-xl-5 w-100" th:insert="fragments/componentsVisit.html :: footerVisit" id="footer"></footer>
      </div>
    </div>

<!--     JavaScript files -->
    <th:block th:replace="fragments/componentsRessources.html :: js-scriptVisit"></th:block>
    
<!--     script for second test -->
<!--     <script type="text/javascript" th:src="@{/area.js}"></script> -->



<!--     Jquery for multiInput form -->
    <script src="https://use.fontawesome.com/1e73f8e328.js"></script>
    <script th:src="@{/jq.multiinput.min.js}"></script>
    <script th:src="@{/jq.multiinput.js}"></script>
    
    <script th:src="@{/site.js}"></script>
    
    
    

  </body>
</html>