<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="fragments/componentsRessources.html :: headVisit">
		  <meta content="" name="description">
		  <meta content="" name="keywords">
		  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		  <meta http-equiv="X-UA-Compatible" content="IE=edge">		  
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <meta name="robots" content="all,follow">
		  <title>Se connecter</title>
	</head>
  <body>
  	
  	<header  id="header2" class="fixed-top row header-visit" th:insert="fragments/componentsVisit.html :: header2Visit"></header>
  	
    <div class="page-holder d-flex align-items-center">
      <div class="container">
        <div class="row align-items-center py-5">
          <div class="col-5 col-lg-7 mx-auto mb-5 mb-lg-0">
            <div class="pr-lg-5"><img th:src="@{/assets/img/hero-bg.jpg}" alt="" class="img-fluid"></div>
          </div>
          <div class="col-lg-5 px-lg-4">
            <h1 class="text-base text-primary text-uppercase mb-4" th:if="${errorMessage}!=null" th:utext="${errorMessage}" style="color:red; font-weight: bold; margin: 30px 0px;">Bubbly Dashboard</h1>
            <h2 class="mb-4">
            	<span th:if="${nonConnectedMessage}==null">Bienvenue!</span>
            	<span th:unless="${nonConnectedMessage}==null" th:utext="${nonConnectedMessage}">Bienvenue!</span>
            </h2>
            <p class="text-muted">Merci d'entrer votre identifiant email et votre mot de passe!</p>
            <form id="loginForm" th:action="@{/login}" method="post" class="mt-4">
              <div class="form-group mb-4">
                <input type="email" name="username" required placeholder="Adresse email" class="form-control border-0 shadow form-control-lg">
              </div>
              <div class="form-group mb-4">
                <input type="password" name="password" required placeholder="Mot de passe" class="form-control border-0 shadow form-control-lg text-violet">
              </div>
              <button type="submit" class="btn btn-primary shadow px-5">Se connecter</button>
            </form>
            <br/>            
            <p>jamais inscrit? Alors c'est par <strong><a th:href="@{/signup}">ici</a></strong>!</p>
          </div>
        </div>
      </div>
    </div>

	<footer class="footer align-self-end py-3 px-xl-5 w-100" th:insert="fragments/componentsVisit.html :: footerVisit" id="footer"></footer><!-- End Footer -->
	
	<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
	
	<!-- Vendor JS Files -->
	<th:block th:replace="fragments/componentsRessources.html :: js-scriptVisit"></th:block>
  </body>
</html>