<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/componentsRessources.html :: headVisit">
	  <meta charset="utf-8">
	  <meta content="width=device-width, initial-scale=1.0 shrink-to-fit=no" name="viewport">
	  <title>Site</title>
</head>

<body>
	
	  <!-- ======= Header ======= -->

     <header  sec:authorize="isAnonymous()" id="header2" class="fixed-top row header-visit" th:insert="fragments/componentsVisit.html :: header2Visit"></header>
     
     <header sec:authorize="isAuthenticated()" id="header2" class="fixed-top" th:insert="fragments/componentsAdmin.html :: headerVisitAdmin"></header>
     	  
	  <!-- ======= Hero Section ======= -->
	  <div class="d-flex align-items-stretch">
	  	<div sec:authorize="isAuthenticated()" id="sidebar" class="sidebar py-3" th:insert="fragments/componentsAdmin.html :: sidebar-connected"></div>
	  	<div class="page-holder w-100 d-flex flex-wrap">
	  
		  <section id="site">
		  
		  	<div class="row mb-4">
	              <div class="col-lg-9 mb-4 mb-lg-0 site-card">
	                <div class="card">
	                  <div class="card-header display-data">
	                  	<div class="row">
	                  		<div class="col-md-8 text-center">
					            <h2 class="text-uppercase mb-0">
					            	<span class="float-md-left" th:utext="${site.siteName}">Nom du Site</span>
					            </h2>
					        </div>
					        <div class="col-md-4 row text-center go-to-form-topo">
					        	<h5 class="text-uppercase mb-0 go-to-form-title-topo">Topo</h5>
					            <span class="float-md-right text-center">
					            	<a th:href="@{/createTopo/{siteId}(siteId=${site.id})}"><button type="button" class="btn btn-secondary add-button"><i class="fa fa-plus" aria-hidden="true"></i>
					            	</button></a>
					            </span>
				        	</div>
	 					</div>                 
	                  </div>
	                  <div class="card-body">   
	                  	<div class="row d-flex">
		                  	<div class="col-sm-9">
						    	<p class="col-sm-8"><strong>Region </strong>: <span th:utext="${site.region}"></span></p>
						    	<p class="col-sm-8"><strong>Département </strong>: <span th:utext="${site.department}"></span></p>
						    	<p class="col-sm-8"><strong>Ville </strong>: <span th:utext="${site.city}"></span></p>
						    	<p class="col-sm-8"><strong>Nombre de Secteurs </strong>: <span th:utext="${site.areasNumber}"></span></p>
						    	<p class="col-sm-8"><strong>Equipé </strong>: 
						    		<span th:if="${site.equipped}">Oui</span>
						    		<span th:unless="${site.equipped}">Non</span>	
						    	</p>
					    	</div>
					    	<div class="col-sm-3 float-md-right"  id="tag">
					    		<span th:if="${site.tagged} == true">
						    		<img th:src="@{/img/icons8-mountain-48.png}" alt="tag-icon">
			                  		<p>Officiel Les amis de l’escalade</p>
		                  		</span>
		                  	</div>
				    	</div>
		    			<h4 class="col-sm-6">Les Secteurs</h4>
	                  	                       
	                    <table class="table table-striped table-hover card-text">
	                      <thead>
							<tr>
								<th>Nom</th>
								<th>Voies</th>							
							</tr>
						  </thead>
		                  <tbody>
							<tr th:each="area : ${site.areas}">
				    			<td th:utext = "${area.areaName}">...</td>
				    			<td th:utext = "${area.routesNumber}">...</td>
				    		</tr>
						  </tbody>
	                    </table>
	                    
	                    <div sec:authorize="isAuthenticated()">
	                    	<h4 class="col-sm-6">Topos : </h4>
	                    	<p class="col-sm-12" th:if="${toposOfTheSite.empty}">Aucun topo enregistré pour ce site à ce jour!</p>
						  	<ul th:unless="${toposOfTheSite.empty}" th:each="topo : ${toposOfTheSite}">
							    <li><a target="_blank" th:href="@{/topo/{id}(id = ${topo.id})}" th:utext="${topo.topoName}"></a></li>
							</ul>
						 </div>
	                    
	                  </div>
	                </div>
	              </div>
	            </div>
		  </section> 
	  	</div>
	  </div>	<!-- End Hero -->
	
	  <!-- ======= Footer ======= -->
	  <footer class="footer align-self-end py-3 px-xl-5 w-100" th:insert="fragments/componentsVisit.html :: footerVisit" id="footer"></footer></footer><!-- End Footer -->
	
	  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
	
	  <!-- Vendor JS Files -->
	  <th:block th:replace="fragments/componentsRessources.html :: js-scriptVisit"></th:block>
	
</body>	
</html>