<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/componentsRessources.html :: headVisit">
	  <meta content="" name="description">
	  <meta content="" name="keywords">
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">		  
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="robots" content="all,follow">
	  <title>Site</title>
</head>

<body>
	
	  <!-- ======= Header ======= -->

     <header  sec:authorize="isAnonymous()" id="header2" class="fixed-top row header-visit" th:insert="fragments/componentsVisit.html :: header2Visit"></header>
     
     <header sec:authorize="isAuthenticated()" id="header2" class="fixed-top" th:insert="fragments/componentsAdmin.html :: headerVisitAdmin"></header>
     	  
	  <!-- ======= Hero Section ======= -->
	  <div class="d-flex align-items-stretch">
	  	<div sec:authorize="isAuthenticated()" id="sidebar" class="sidebar py-3" th:insert="fragments/componentsAdmin.html :: sidebar-connected"></div>
	  	<div class="page-holder w-100 d-flex flex-wrap row">
	  
		  <section class="col-lg-12" id="site">
		  
		  	<div class="row mb-4">
	              <div class="col-lg-9 mb-4 mb-lg-0 site-card">
	                <div class="card">
	                  <div class="card-header display-data">
	                  	<div class="row">
	                  		<div class="col-md-8 text-center">
					            <h2 class="text-uppercase mb-0">
					            	<span class="float-md-left" th:utext="${site.siteName}">Nom du Site</span>
					            </h2>
					        </div>
					        <div sec:authorize="isAuthenticated()" class="col-md-4 d-flex justify-content-end row text-center go-to-form-topo">
					        	<h5 class="text-uppercase mb-0 go-to-form-title-topo">Topo</h5>
					            <span class="float-md-right text-center">
					            	<a th:href="@{/createTopo/{siteId}(siteId=${site.id})}"><button type="button" class="btn btn-secondary add-button"><i class="fa fa-plus" aria-hidden="true"></i>
					            	</button></a>
					            </span>
				        	</div>
	 					</div>                 
	                  </div>
	                  <div class="card-body">   
	                  	<div class="row d-flex">
		                  	<div class="col-sm-9">
						    	<p class="col-sm-8"><strong>Region </strong>: <span th:utext="${site.region}"></span></p>
						    	<p class="col-sm-8"><strong>Département </strong>: <span th:utext="${site.department}"></span></p>
						    	<p class="col-sm-8"><strong>Ville </strong>: <span th:utext="${site.city}"></span></p>
						    	<p class="col-sm-8"><strong>Nombre de Secteurs </strong>: <span th:utext="${site.areasNumber}"></span></p>
						    	<p class="col-sm-8"><strong>Equipé </strong>: 
						    		<span th:if="${site.equipped}">Oui</span>
						    		<span th:unless="${site.equipped}">Non</span>	
						    	</p>
					    	</div>
					    	<div class="col-sm-3 float-md-right"  id="tag">
					    		<span th:if="${site.tagged} == true">
						    		<img th:src="@{/img/icons8-mountain-48.png}" alt="tag-icon">
			                  		<p>Officiel Les amis de l’escalade</p>
		                  		</span>
		                  	</div>
				    	</div>
		    			<h4 class="col-sm-6">Les Secteurs</h4>
	                  	                       
	                    <table class="table table-striped table-hover card-text">
	                      <thead>
							<tr>
								<th>Nom</th>
								<th>Voies</th>							
							</tr>
						  </thead>
		                  <tbody>
							<tr th:each="area : ${site.areas}">
				    			<td th:utext = "${area.areaName}">...</td>
				    			<td th:utext = "${area.routesNumber}">...</td>
				    		</tr>
						  </tbody>
	                    </table>
	                    
	                    <div sec:authorize="isAuthenticated()">
	                    	<h4 class="col-sm-6">Topos : </h4>
	                    	<p class="col-sm-12" th:if="${toposOfTheSite.empty}">Aucun topo enregistré pour ce site à ce jour!</p>
						  	<ul th:unless="${toposOfTheSite.empty}" th:each="topo : ${toposOfTheSite}">
							    <li><a target="_blank" th:href="@{/topo/{id}(id = ${topo.id})}" th:utext="${topo.topoName}"></a></li>
							</ul>
						 </div>
	                    
	                  </div>
	                </div>
	              </div>
	            </div>
		  </section> 
		  
		  <section class="commentaire" sec:authorize="isAuthenticated()">
            <div class="row">
              
<!--               Form Elements -->
              <div class="col-lg-12 mb-5">
                <div class="card">
                  <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Ajouter un commentaire</h3>
                  </div>
                  <div class="card-body">
                    <form th:if="${comment.commentId == 0}" class="form-vertical row" action="#" th:action="@{/saveComment}" th:object="${comment}" id="commentForm" method="post">
                    
                      <input type="hidden" name="siteId" th:value="${siteId}" id="siteId"/>			  
	                  
 	                  <div class="form-group col-sm-12 ${#fields.hasErrors('commentContent')}? has-error">
		                      <textarea  rows = "8" cols = "80" th:field = "*{commentContent}" id="commentContent" form = "commentForm" class="form-control" maxlength="600"></textarea>
		                      <small class="form-text text-muted ml-3">max 600 caractères</small>
		                      <span th:if="${#fields.hasErrors('commentContent')}" th:errors="*{commentContent}" th:errorclass="fieldError"></span>
		          
	                  </div>                         
                    
                      <div class="form-group col-sm-12">
                        <div class="d-flex justify-content-center mx-auto d-block">
                          <button type="submit" class="btn btn-primary">Ajouter</button>
                        </div>
                      </div>
                        
                    </form>
                    
                    <form th:unless="${comment.commentId == 0}" class="form-vertical row" action="#" th:action="@{/updateComment}" th:object="${comment}" id="commentForm" method="post">
                    
                      <input type="hidden" name="siteId" th:value="${comment.siteId}" id="siteId"/>
                      <input type="hidden" name="commentId" th:value="${comment.commentId}" id="id"/>		
                      	  
	                  
 	                  <div class="form-group col-sm-12 ${#fields.hasErrors('commentContent')}? has-error">
		                      <textarea  rows = "8" cols = "80" th:field="*{commentContent}" id="commentContent" form = "commentForm" class="form-control" maxlength="600"></textarea>
		                      <small class="form-text text-muted ml-3">max 600 caractères</small>
		                      <span th:if="${#fields.hasErrors('commentContent')}" th:errors="*{commentContent}" th:errorclass="fieldError"></span>
		          
	                  </div>                         
                    
                      <div class="form-group col-sm-12">
                        <div class="row d-flex justify-content-center mx-auto d-block">
                        	<a th:href="@{/site/{id}(id=${comment.siteId})}"><button type="button" class="btn btn-secondary">Annuler</button></a>&nbsp;
                          	<button type="submit" value="update" class="btn btn-primary">Modifier</button>
                        </div>
                      </div>
                        
                    </form>
                   
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          <section class="col-lg-12 comment-section">
          	<div th:if="${siteComments == null}" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
          		<div class="text-md-left">
          			<p><strong>Soyez le premier à commenter!</strong></p>
          		</div>
          	</div>
          	<div th:unless="${siteComments == null}" th:each="item : ${siteComments}" class="col-lg-12">
          		<div th:each="entry, map : ${item}">
          			<div class="col-lg-12 text-md-right">
		          		<p><strong><em th:utext="${#temporals.format(entry.value.commentDate, 'dd/MM/yy HH:mm')}"></em></strong></p>
		          	</div>

		          	<div class="col-lg-12 message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
		          		<div class="row" th:each="entry, map : ${item}">
		          			
			          		<div class="col-lg-12 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
				          		<h6 class="col-lg-2 mb-0 mt-3 mt-lg-0" th:each="user : ${entry.key}">
				          				<span th:utext="${user.firstName}"></span>
				          				<span th:utext="${user.lastName}"></span>
				          		</h6>
				          		<div class="col-lg-10 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
				                     <p class="col-lg-10 mb-0 mt-3 mt-lg-0" th:utext="${entry.value.commentContent}"></p>
				                     <div sec:authorize="hasAuthority('ADMIN')" class="col-lg-2 d-flex justify-content-center bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-3 mt-2 mt-lg-0 text-dark exclode row">
				                     	
				                     	<span>			                     		
				                     		<a th:href="@{/site/{id}/updateComment/{commentId}(id = ${siteId}, commentId = ${entry.value.commentId})}"><i class="fas fa-user-edit fa-2x"></i></a>
				                     	</span>
				                     	&nbsp;
				                     	<th:block>
				                     		
				                     		<form action="#" th:action="@{/deleteComment}" method="post">
				                     			<input type="hidden" name="commentId" th:value="${entry.value.commentId}"/>
				                     			<input type="hidden" name="siteId" th:value="${entry.value.siteId}"/>
				                     			<button class="comment-delete" type="submit">
				                     				<span>
				                     					<i class="fas fa-trash fa-2x"></i>
				                     				</span>
				                     			</button>
				                     		</form>
				                     	</th:block>
				                     </div>
				                </div>
			                </div>
		                </div>
		          	</div>
		          </div>
          	</div>
          </section>
          
          <footer class="footer align-self-end py-3 px-xl-5 w-100" th:insert="fragments/componentsVisit.html :: footerVisit" id="footer"></footer><!-- End Footer -->
	
	  	  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
	
		  <!-- Vendor JS Files -->
		  <th:block th:replace="fragments/componentsRessources.html :: js-scriptVisit"></th:block>
          
	  	</div>
	  </div>
	  
	
</body>	
</html>