<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:insert="fragments/componentsRessources.html :: headVisit">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Les Sites-LADE</title>
    <meta name="description" content="">
  </head>
  <body>
    <!-- navbar-->
     <header  sec:authorize="isAnonymous()" id="header2" class="fixed-top row header-visit" th:insert="fragments/componentsVisit.html :: header2Visit"></header>
     
     <header sec:authorize="isAuthenticated()" id="header2" class="fixed-top" th:insert="fragments/componentsAdmin.html :: headerVisitAdmin"></header>
    
    <div class="d-flex align-items-stretch">
      <div sec:authorize="isAuthenticated()" id="sidebar" class="sidebar py-3" th:insert="fragments/componentsAdmin.html :: sidebar-connected"></div>
      <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">       	
	          <section class="site-paginated py-5">

	          	<div class="table-responsive">
		            <div class="row justify-content-center">
		              <div class="col-lg-6 mb-5">
		                <div class="card">
		                  <div class="card-header">
		                    <h4 class="text-uppercase mb-0">Liste des Sites</h4>
		                  </div>
		                  <div class="card-body">                           
		                    <ul th:each="site : ${sitesPage}">
							    <li><a target="_blank" th:href="@{/site/{id}(id = ${site.id})}" th:utext="${site.siteName}"></a></li>
							</ul>
							
							<div class="text-center">
		                    	Page : [[${currentPage}]]/[[${totalPages}]]
		                    	&nbsp; - &nbsp;
		                    	<span>
		                    		<a th:if="${currentPage > 1}" th:href="@{/showSites(pageNumber=${currentPage - 1})}">Précédent</a>
		                    		<span th:unless="${currentPage > 1}">Précédent</span> &nbsp; - &nbsp;
		                    	</span>
		                    	<span th:each="i: ${#numbers.sequence(1,totalPages)}">
		                    		<a th:if="${i != currentPage}" th:href="@{/showSites(pageNumber=${i})}">[[${i}]]</a>
		                    		<span th:unless="${i != currentPage}">[[${i}]]</span> &nbsp; - &nbsp;
		                    	</span>
		                    	<span>
		                    		<a th:if="${currentPage != totalPages}" th:href="@{/showSites(pageNumber=${currentPage + 1})}">Suivant</a>
		                    		<span th:unless="${currentPage != totalPages}">Suivant</span> &nbsp; - &nbsp;
		                    	</span>
		                    	<span>
		                    		<a th:if="${currentPage != totalPages}" th:href="@{/showSites(pageNumber=${totalPages})}">Dernier</a>
		                    		<span th:unless="${currentPage != totalPages}">Dernier</span> &nbsp; - &nbsp;
		                    	</span>
		                    </div> 
		                  </div>
		                </div>
		              </div> 
		            </div>
		           </div>
	            
	
	          </section>
        </div>
        <footer class="footer align-self-end py-3 px-xl-5 w-100" th:insert="fragments/componentsVisit.html :: footerVisit" id="footer"></footer>
        
      </div>
    </div>
    <!-- JavaScript files-->
    <th:block th:replace="fragments/componentsRessources.html :: js-scriptVisit"></th:block>
  </body>
</html>