<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments/componentsRessources.html :: headVisit">
    <meta content="" name="description">
	<meta content="" name="keywords">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">		  
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="all,follow">
    <title>Les Topos-LADE</title>
   </head>
  <body>
  	<div id="page">
	    <!-- navbar-->
	    <header id="header2" class="fixed-top" th:insert="fragments/componentsAdmin.html :: headerVisitAdmin"></header>
	    
	    <div class="d-flex align-items-stretch" id="content">
	      <div id="sidebar" class="sidebar py-3" th:insert="fragments/componentsAdmin.html :: sidebar-connected"></div>
	      <div class="page-holder w-100 d-flex flex-wrap">
	        <div class="container-fluid px-xl-5">
	        	  <section class="py-5" th:insert="fragments/componentsAdmin.html :: dashboard-data"></section>
		          <section class="py-5" id="card">
		          	<div class="table-responsive">
			            <div class="row">
			              <div class="col-lg-9 mb-5">
			                <div class="card">
			                  <div class="card-header">
			                    <h6 class="text-uppercase mb-0">Liste des Topos</h6>
			                  </div>
			                  <div class="card-body">                           
			                    <table class="table table-striped table-hover card-text">
			                      <thead>
									<tr>
										<th>Nom</th>
										<th>Ville</th>
										<th>Date</th>						
									</tr>
								  </thead>
			                      <tbody>
									<tr th:each="topo : ${toposPage}">
										<td th:utext = "${topo.topoName}">...</td>
										<td th:utext = "${topo.localization}">...</td>
										<td th:utext = "${#dates.format(topo.topoDate, 'dd-MM-yyyy')}">...</td>
									</tr>
								  </tbody>
			                    </table>
			                    <br>
			                    <div class="text-center">
			                    	Total de Topos : [[${totalTopos}]] - Page : [[${currentPage}]]/[[${totalPages}]]
			                    	&nbsp; - &nbsp;
			                    	<span>
			                    		<a th:if="${currentPage > 1}" th:href="@{/topos(pageNumber=${currentPage - 1})}">Précédent</a>
			                    		<span th:unless="${currentPage > 1}">Précédent</span> &nbsp; - &nbsp;
			                    	</span>
			                    	<span th:each="i: ${#numbers.sequence(1,totalPages)}">
			                    		<a th:if="${i != currentPage}" th:href="@{/topos(pageNumber=${i})}">[[${i}]]</a>
			                    		<span th:unless="${i != currentPage}">[[${i}]]</span> &nbsp; - &nbsp;
			                    	</span>
			                    	<span>
			                    		<a th:if="${currentPage != totalPages}" th:href="@{/topos(pageNumber=${currentPage + 1})}">Suivant</a>
			                    		<span th:unless="${currentPage != totalPages}">Suivant</span> &nbsp; - &nbsp;
			                    	</span>
			                    	<span>
			                    		<a th:if="${currentPage != totalPages}" th:href="@{/topos(pageNumber=${totalPages})}">Dernier</a>
			                    		<span th:unless="${currentPage != totalPages}">Dernier</span> &nbsp; - &nbsp;
			                    	</span>
			                    </div> 
			                  </div>
			                </div>
			              </div> 
			            </div>
			           </div>
		            
		
		          </section>
	        </div>
	      </div>
	    </div>
	    
	    <footer class="footer align-self-end py-3 px-xl-5 w-100" th:insert="fragments/componentsVisit.html :: footerVisit" id="footer"></footer>
    
    </div>
    <!-- JavaScript files-->
    <th:block th:replace="fragments/componentsRessources.html :: js-scriptVisit"></th:block>
  </body>
</html>