<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:insert="fragments/componentsRessources.html :: headVisit">
	  <meta charset="utf-8">
	  <meta content="width=device-width, initial-scale=1.0 shrink-to-fit=no" name="viewport">
	  <title>Topo</title>
	</head>

	<body>
	
	  <!-- ======= Header ======= -->
	  <header id="header2" class="fixed-top" th:insert="fragments/componentsAdmin.html :: headerVisitAdmin"></header>
	  
	  <!-- ======= Hero Section ======= -->
	  <div class="d-flex align-items-stretch justify-content-center">
	  	<div id="sidebar" class="sidebar py-3" th:insert="fragments/componentsAdmin.html :: sidebar-connected"></div>
	  	<div class="page-holder w-100 d-flex flex-wrap">
	  
		  <section id="site">
		  
		  	<div class="row mb-4">
	              <div class="col-lg-9 mb-4 mb-lg-0 site-card">
	                <div class="card">
	                  <div class="card-header">
	                  	<div class="row">
	                  		<div class="col-md-12 text-center">
					            <h2 class="text-uppercase mb-0">
					            	<span class="float-md-left" th:utext="${topo.topoName}">Nom du Topo</span>
					            </h2>
					        </div>
	 					</div>                 
	                  </div>
	                  <div class="card-body">    
	                  	
	                  	<div>
					        <p class="col-sm-8"><strong>Site </strong>: <span th:utext="${siteName}"></span></p>
					    	<p class="col-sm-8"><strong>Lieu </strong>: <span th:utext="${topo.localization}"></span></p>
					    	<p class="col-sm-12 description"><strong>Description </strong>: 
					    		<span th:utext="${topo.topoDescription}"></span>
					    	</p>
					    	<p class="col-sm-8"><strong>Date de Parution </strong>: <span th:utext="${#dates.format(topo.topoDate, 'dd-MM-yyyy')}"></span></p>
					    	<p class="col-sm-10"><strong>Contact </strong>: 
					    		<th:block th:switch="${topo.reservation}">
								     <span th:case="${T(com.lavanya.escalade.enums.Reservation).R}" th:utext="${topoCreatorEmail}"></span>
								     <span th:case="*">Visible si demande de topo validée</span>
								  </th:block>
					    	</p>
					    	<p class="col-sm-8"><strong>Réservation </strong>:
				        		<th:block class="reservation" th:switch="${topo.reservation}">
								    <span id="available" th:case="${T(com.lavanya.escalade.enums.Reservation).A}">
								    	Disponible</span>
								    <span id="reserved" th:case="${T(com.lavanya.escalade.enums.Reservation).R}">
								    	Accepté</span>
								    <span id="unavailable" th:case="${T(com.lavanya.escalade.enums.Reservation).U}">
								    	Indisponible</span>
								    <span id="in-progress" th:case="${T(com.lavanya.escalade.enums.Reservation).I}">
								    	En cours de réservation</span>
								</th:block>
				        	</p>	
				    	</div>
				      	<br>
				        <div th:if="${topo.reservation} == ${T(com.lavanya.escalade.enums.Reservation).A}" class="float-md-right">
				        	<form action="#" th:action="@{/request/reservation}" th:method="post">
				        		<input type="hidden" name="id" th:value = "${topo.id}"/>
								<input type="hidden" name="userId" th:value = "${topo.userId}"/>
								<input type="hidden" name="siteId" th:value = "${topo.siteId}"/>
								<input type="hidden" name="topoName" th:value = "${topo.topoName}"/>
								<input type="hidden" name="localization" th:value = "${topo.localization}"/>
								<input type="hidden" name="topoDescription" th:value = "${topo.topoDescription}"/>
								<input type="hidden" name="topoDate" th:value = "${topo.topoDate}"/>
								<input type="hidden" name="reservation" th:value = "${topo.reservation.I}"/>
								
								<button type="submit" class="btn btn-primary">Demande de Réservation</button>	
				        	</form>
				        	
				        </div>
	                  </div>
	                </div>
	              </div>
	            </div>
		  </section> 
	  	</div>
	  </div>	<!-- End Hero -->
	
	  <!-- ======= Footer ======= -->
	  <footer class="footer align-self-end py-3 px-xl-5 w-100" th:insert="fragments/componentsVisit.html :: footerVisit" id="footer"></footer>
	  <!-- End Footer -->
	
	  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
	
	  <!-- Vendor JS Files -->
	  <th:block th:replace="fragments/componentsRessources.html :: js-scriptVisit"></th:block>
	
	</body>
	
</html>