<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments/componentsRessources.html :: headVisit"> 
  	<meta content="" name="description">
	<meta content="" name="keywords">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">		  
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="all,follow">
	<title>Ajouter un Site</title>
  </head>
  
  <body>
    <!-- navbar-->
	 <header id="header2" class="fixed-top" th:insert="fragments/componentsAdmin.html :: headerVisitAdmin"></header>
	
    <div class="d-flex align-items-stretch">
	  <div id="sidebar" class="sidebar py-3" th:insert="fragments/componentsAdmin.html :: sidebar-connected"></div>
      <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <section class="py-5" th:insert="fragments/componentsAdmin.html :: dashboard-data"></section>
          
            
          <div class="col-md-12 welcome">
			<h6 class="text-uppercase mb-0">Bienvenue 
		       	<span th:text="${user.firstName}"></span>&nbsp;
		      	<span th:text="${user.lastName}"></span>!
	   		</h6>
		 </div>
 			
          
         <section> 			
 			<div class="col-5 col-lg-12 mx-auto mb-5 mb-lg-0">
            	<div class="pr-lg-5 img-fluid img-home"></div>
          	</div>    
		</section>
          
          
        <section class="py-5 comment">
          	<div class="row">
          		
	          	<div th:if="${userComments.isEmpty()}" class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style col-lg-12 d-flex align-items-center">
	          		<div class="text-md-left">
	          			<p><strong>Aucun commentaire pour le moment, n'hésitez pas à aller visiter les sites et donner votre avis!</strong></p>
	          		</div>
	          	</div>
	          	<div class="col-lg-12 message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style" th:if="${!userComments.isEmpty()}" th:each="comment : ${userComments}">
	          		<div class="row">
	          			<div class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
			          		<a th:href="@{/site/{id}(id = ${comment.siteId})}" class="a-comment"><strong class="h5 mb-0"><em><span th:utext="${#temporals.format(comment.commentDate,'dd MMMM yyyy HH:mm')}"></span></em></strong></a>
			          	</div>
	
			          	<div class="col-lg-9 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
			          		<p class="mb-0 mt-3 mt-lg-0" th:utext="${comment.commentContent}"></p>
			            </div>
			        </div>
			    </div>
	        </div>
        </section>
         
        </div>
        
        <footer class="footer align-self-end py-3 px-xl-5 w-100" th:insert="fragments/componentsVisit.html :: footerVisit" id="footer"></footer>
      </div>
    </div>
    <!-- JavaScript files-->
    <th:block th:replace="fragments/componentsRessources.html :: js-scriptVisit"></th:block>
  </body>
</html>